body {
  background-image: url("https://img.freepik.com/free-vector/cartoon-jungle-background_52683-61450.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1719100800&semt=ais_user");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  color: #82f606b1;
  font-size: 50px;
  font-family: "Arial";
  text-shadow: 2px 2px 4px #000000;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 60%;
  text-align: center;
}
td {
  border: 1px solid black;
  padding: 10px;
  width: 33%;
  background: rgb(147, 208, 133);
  background: linear-gradient(
    90deg,
    rgba(147, 208, 133, 0.4767156862745098) 0%,
    rgba(58, 235, 30, 0.5551470588235294) 50%,
    rgba(247, 165, 48, 0.5243347338935574) 100%
  );
}
td img {
  width: 100%;
}

td button {
  background-color: #4caf50;
  color: white;
  height: 50px;
  width: 100px;
  border: 2px solid white;
  border-radius: 50px 10px;
  padding: 20x;
}

td button:hover {
  background-color: #45a049;
  cursor: pointer;
}
